*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
#sidebar{
    position:fixed;
    width:15rem;
    left:-15rem;
    height:100vh;
    color:#fff;
    background-color:#f1758a;
    transition:all 0.4s ease-in 0s;
    z-index: 1;
}
#my_logo{
    display:flex;
    height:50px;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid #fff;
    margin-bottom:5px;
}

.list-items{ border-radius: 10px;
    margin:0 1.5rem 0 1.5rem;
    padding:1.5rem;
    list-style: none;
}
.list-items:hover{
    font-size:1.07rem;  
    background-color:#e0e0e058;
}
#dash{
    background-color:#e0e0e058;
}
#bars{
    padding: 2px;
position:absolute;
top:1.6rem;
left:1rem;
font-size: 1.5rem;
color:#f1758a;
}
#mark{
    z-index:2;
    position:absolute;
    left:-5rem;
    top:1rem;
    font-size: 1.5rem;
    background-color:#f1758a;
    color:#fff;
    transition:all 0.4s ease-in 0s;
}
span{
    padding-left: 1rem;
}
#check{
    display:none;
}
#check:checked~ #sidebar{
    left:0;
}
#check:checked~ label #mark{
  left:13rem;
}
#check:checked~ label #bars{
    display:none;
}
/* main page */
#main{
    height:100vh;
    width:100vw;
    background-color: #edebeb;
}
#header{
    height:80px;
    width:100vw;
    background-color: #fff;
    display:flex;
    border-radius: 10px;
    margin-bottom:1.5rem;
}
#search{
    display:flex;
    width:300px;
    /* background-color:red; */
    align-items: center;
    justify-content:center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
input{
    text-align: center;
    background-color: #edebeb;
    border:none;
    height:1.6rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#mag_icon{
    width:25px;
    background-color: #f1758a;
    border:none;
    height:1.6rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
button:active{
    transform:scale(1.1);
}

#empty{
    flex:1;
}
#title{
    width:300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 20px;
}
#my{  position:relative;
    top:25px;
    font-size: 20 px;
}
h1{
    position:relative;
    top:25px;
    color:#f1758a;
}

/* budget tracker table */
#budget_tracker{
    width:100vw;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

#budget_tracker table{
    width:100%;
}
thead{
   background-color: #f1758a;
}
tbody{
    text-align: center;
}

/* main body of dashboard */
#content{
    display:grid;
    grid-template-columns: 2fr 1fr;
    width:100vw;
    height:700px;
    background-color: #edebeb;
    /* border-radius:20px; */
}
#right_content{
    background-color:#fff;
    display:flex;
    justify-content:center;
    /* height: 500px; */
    border-radius:20px;
    margin-right:1rem;
}
#left_content{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    background-color: #edebeb;
    text-align:start;
}
#quote{
    display:flex;
    height:200px;
    margin:1.5rem;
    /* background-color: #fff; */
    border-radius:20px;
    font-size:50px;
    justify-content: center;
    align-items:center;
    
}
.quote-line{
    animation:animate 5s ease-in-out 0s infinite alternate;
}
@keyframes animate{
    from{
        color:black;
    }
    to{
        color:#f1758a;
    }
}
#contact{
    height:200px;
    margin:1.5rem 1.5rem 1.5rem 0;
    background-color: #fff;
    border-radius:20px;
}

#to-do{
    position:relative;
    top:25px;
}
#add{
    height:1.6rem;
    width:35px;
    position:relative;
    top:25px;
    background-color:#f1758a;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.left-side{
    border-radius:20px;
    margin-right:1.5rem;
    background-color: #fff;
}
#emails{
    margin-bottom:1.5rem;
    margin-left:1rem;
    background-color: rgb(250, 197, 250);
}
#notification{
   margin-bottom:1.5rem;
   background-color: rgb(190, 247, 247);
}
#clock{
    display:flex;
    justify-content: center;
    align-items:center;
   margin-bottom:1.5rem;
   
}
#clockpic{
    display:flex;
    height:200px;
    width:200px;
    padding:4srem;
    border-radius:50%;
    border:20px solid #edebeb;
    border-top-color:#f1758a;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}
#links{
    margin-left:1rem;
    background-color: rgb(251, 220, 180);
}
.implink{
    display:block;
    padding:1rem 0 0 0.5rem;
    text-decoration:none;
}
.implink:hover{
    color:rgb(74, 74, 247);
}
li{
    list-style: none;
    padding-top: 1rem;
    padding-left: 1rem;
}
p{  padding:0.5rem;
    text-align:center;
}
#temperature{
    display: flex;
    justify-content: space-around;
}
#sun{
    color:rgb(255, 196, 0);
    font-size:50px;
}
#calender table{
    width:100%;
}